.suggestions_List li {
    position: relative;
    right: 35px;
    background-color: #020d13;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    height: auto;
    width: 700px;
    padding: 15px;
    opacity: 60%;
    border-radius: 10px;
}

.suggestions_List li:hover {
    cursor: pointer;
    color: #012608;
    background-color: #CEF059;
}

@media (max-width:992px) {
    .suggestions_List li {
        width: 600px;

    }

}

@media (max-width:768px) {
    .suggestions_List li {
        width: 500px;

    }

}

@media (max-width:615px) {
    .suggestions_List li {
        width: 340px;

    }
}