.location_info {
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}

.location_title {
    width: 90%;
    height: auto;
    text-align: center;


}

.location_title p {

    color: #A5EB69;
    font-size: 40px;
}

.location_title span {
    color: white;
    font-weight: bold;
}

.location_info_list {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;



}

.location_info_list span {
    color: white;
    font-weight: bold;
}

.location_info_list li {
    color: #A5EB69;
    font-size: 24px;
}


/*=============RRESPONSIVE===================*/

@media(max-width:992px) {

    .location_info_list li {
        display: flex;
        height: autos;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: lowercase;
        text-align: center;
        font-size: 20px;

    }



}